[2020-11-10 19:35] pranshuchittora opened #3 "chore: Code Improvements"
### Description
The project is in its initial phase, and the code is written with an idea of `move fast and break things`. So there are many possible improvements. Mentioning some but not limited to these only :smile:

- Inline styling to the stylesheet
- Proper Scoping and Abstraction of composable components.
- Improve folder structure, if any
- Improve UI/UX

[2020-11-16 15:07] saideepesh000 commented on #3
Hey @pranshuchittora, I would like to work on this, just wanted to know, which should I work among the options. Just assign me the problem so that I can work accordingly

[2020-11-16 22:02] pranshuchittora commented on #3
Thanks @saideepesh000 you can start by migrating the inline styling to style objects

[2020-11-17 13:33] saideepesh000 commented on #3
@pranshuchittora, it would be better if we add CSS modules, it looks clean and beginner-friendly, what do you think.

[2020-11-17 14:59] pranshuchittora commented on #3
Ya sounds great :+1:
Go ahead and feel free to ping me on slack for any help/discussion :)

[2020-11-18 16:14] saideepesh000 commented on #3
Hi @pranshuchittora, I am getting this error. It seems to the problem related to mdx, how can I tweak the node_modules or replace mdx.  Sorry for this silly doubt. I am using windows(this might also be the problem). And according to [this ](https://github.com/frontarm/mdx-util/issues/44)even though we are using react-app-rewired, it's not working for me. Please help me.

![Screenshot (283)](https:

[2020-11-18 16:18] pranshuchittora commented on #3
No worries, let's connect on Slack to discuss and fix the issue.

https://react-native-elements-slack.herokuapp.com/

[2021-03-10 07:00] ARJUN-SABU commented on #3
Hi @pranshuchittora, I have gone through the issues mentioned above and i feel that i can start working on them.😋

[2021-03-10 07:00] shivambalwani commented on #3
hey @pranshuchittora, I have started working on the issues mentioned above and will be contributing soon.😊

[2021-03-10 07:50] pranshuchittora commented on #3
Glad to hear that.
It would be great if you
- Open a draft PR while you are working
- Make small PRs for fast review & merger

[2021-03-10 11:58] pranshuchittora opened #18 "Docs: Add a content to the README of the Project"
**Deliverables**
- Add the Hero Image.
- What problem this project solves.
- Architecture
- Tooling used
- Related Projects
- Open Collective Supporters

[2021-03-10 12:00] pranshuchittora opened #19 "Bug: Avatar Component is not rendering"
Avatar Component is not rendering -> https://react-native-elements.js.org/#/avatar

![Screenshot from 2021-03-10 17-29-28](https://user-images.githubusercontent.com/32242596/110626035-3c4b2f00-81c6-11eb-978d-00e8edd00e1a.png)

**Possible Cause**
Updated Props in the Library

[2021-03-10 12:03] pranshuchittora opened #20 "Fix: Ability to close the navigation drawer in mobile on clicking outside"
**Deliverables**
The navigation drawer should close on clicking outside (on click of grey area)

![Screenshot from 2021-03-10 17-31-08](https://user-images.githubusercontent.com/32242596/110626167-6a307380-81c6-11eb-879c-4383d1c4a6e9.png)

**Possible Fix**
Refer MUI docs

[2021-03-10 12:47] sachdeva-shrey commented on #19
Hey @pranshuchittora, can you please assign this to me? Also, I noticed that the Avatar Component is rendering correctly but seems like a default `backgroundColor` is not set/being overridden.

[2021-03-10 12:50] pranshuchittora commented on #19
Assigning it to you @sachdeva-shrey
Thanks for the heads-up, if possible can you raise a PR for the same?

[2021-03-10 12:52] sachdeva-shrey commented on #19
Sure thing, thanks! @pranshuchittora

[2021-03-10 13:55] tewarig commented on #18
Hey @pranshuchittora, can you please assign this to me? I would like to work on this issue.

[2021-03-10 14:53] Uyadav207 opened #24 "chore: Issue templates"
**Description**

The project do not have any issue template.

**Requirements**

- bug_report.md
- Pull_request_template.md
- Feature_request.md

[2021-03-10 14:54] Uyadav207 commented on #24
@pranshuchittora , May i work on the above mentioned issue ?

[2021-03-10 16:15] #20 closed

[2021-03-10 16:24] pranshuchittora commented on #19
Try this as the default containerStyle
`{background:'#0ff'}`

With this, can also update the props in the playgroundAvatar. I can see some deprecated props like `showaccessory`
https://reactnativeelements.com/docs/2.3.2/avatar#showaccessory

[2021-03-10 17:03] tewarig opened #26 "Bug: Overlay Component is not rendering"
This issue seems  similar to #19
https://react-native-elements.js.org/#/overlay
![Screenshot from 2021-03-10 22-26-28](https://user-images.githubusercontent.com/54894783/110667707-89dc9180-81f0-11eb-8d51-635bf0e91966.png)

[2021-03-10 17:13] tewarig opened #27 "Bug : bottom-sheet component is not rendering and giving a error No safe area insets value available."
I was going through the react-native-elements playground and found out, bottom sheet component is not rendering and it is displaying this error.
[code]
https://react-native-elements.js.org/#/bottom-sheet
![Screenshot from 2021-03-10 22-34-15](https://user-images.githubusercontent.com/54894783/110668349-3880d200-81f1-11eb-8329-a137d763673e.png)

maybe this can be solved by importing SafeAreaProvide

[2021-03-10 17:29] sachdeva-shrey commented on #26
Hey @tewarig, are you working on this issue?

[2021-03-10 18:03] tewarig commented on #26
so... I was working on this issue. this is what my bug fix looks like.. should I go ahead with this @pranshuchittora  ?
![pr](https://user-images.githubusercontent.com/54894783/110675485-f0fe4400-81f8-11eb-950b-2d647fb9e4db.gif)

[2021-03-10 18:20] iamsaumya opened #29 "bug: Apparently a typo in .gitignore"
This line seems to be a typo, I am aware of the `package-lock.json` but not the `package-json.lock` file.

https://github.com/react-native-elements/playground/blob/562107d49b6fb7e6f558396c1ca1abe3c400b39d/.gitignore#L21

Is it a specific file that npm creates? There is a possibility I don't know about it.

[2021-03-10 18:23] iamsaumya commented on #29
Adding to that, I don't see `package-lock.json` in the codebase I believe it should be added to a git repo.

[2021-03-10 18:59] tewarig commented on #29
well, @iamsaumya I don't think that is a typo.😅    check this.. https://github.com/nodejs/citgm/issues/451

[2021-03-10 19:08] tewarig commented on #18
hey, @pranshuchittora could you please review this one.

[2021-03-10 19:08] iamsaumya commented on #29
I see, in that case. The typo `package-json.lock` should be `package-lock.json`, Isn't it?

[2021-03-10 19:12] iamsaumya commented on #29
I think it will better to inform the author of https://github.com/react-native-elements/playground/pull/23 to fix the typo in .gitignore as he is pushing the `lock` file to repo.

[2021-03-10 19:30] Devesh21700Kumar commented on #3
I’ve started working on them and have made a PR for certain areas.. will fix the inline styling and stuff in the next PR

[2021-03-11 00:34] jalajcodes commented on #27
Working on it.

[2021-03-11 12:20] abhishekkumar08 opened #34 "bug: tooltip doesn't work as expected"
## Description
 Tooltip doesn't work as expected.

## Expected behaviour
The tooltip should not overlay the text

## Screenshot
![image](https://user-images.githubusercontent.com/59651136/110786122-c2807780-8291-11eb-85b0-29ec98b64fb1.png)

### PS: There isn't any template for issue or PR should I make one? What's your opinion @pranshuchittora

[2021-03-11 16:19] pranshuchittora commented on #26
Can you elaborate what's the issue?

[2021-03-11 16:26] pranshuchittora commented on #27
This can probably fix this -> https://github.com/react-native-elements/playground/pull/17

Feel free to reopen if this occurs, again

[2021-03-11 16:26] #27 closed

[2021-03-11 16:27] tewarig commented on #26
currently in the playground overlay component is not rendering  (https://react-native-elements.js.org/#/overlay)
this is what is look like
![Screenshot from 2021-03-11 21-56-30](https://user-images.githubusercontent.com/54894783/110820006-b659e180-82b4-11eb-8ea2-e029619aebc2.png)

[2021-03-11 16:28] pranshuchittora commented on #29
@iamsaumya pls open a PR with the fix :)

[2021-03-11 16:32] #29 closed

[2021-03-11 16:34] pranshuchittora commented on #34
Feel free to open a PR for the fix.
PS: There's already a PR for templates in progress.

[2021-03-11 17:21] ahtrahdis7 opened #37 "playground crashes upon irrevelent input into the object parameters."
Steps to Reproduce:
1. Start the server by `yarn start`
2. Open the playground for any component
3. Goto any object input field
4. start typing improper input

Expected behaviour:
It shows a pop-up with the error message ( which it does ) and it should crash which happens after some delay

Actual Behaviour:
https://user-images.githubusercontent.com/44672399/110827446-156f2480-82bc-11eb-8253-a9b2f9

[2021-03-11 17:45] ankushdutt commented on #37
Hey @ahtrahdis7 saw the video, I guess it is showing the error message and is crashing after some delay. In the expected behavior, did you mean that it should **not** crash?

[2021-03-11 18:00] ankushdutt commented on #34
I'm working on it.

[2021-03-11 18:03] ahtrahdis7 commented on #37
@ankushdutt Thanks, It was a typo. i have edited it.

[2021-03-11 19:00] mhmd21 commented on #37
The website isn't crashing; it's an error overlay feature from create-react-app. This error overlay only appears in development. Whenever a runtime error happens, an overlay with the error appears in your browser. Basically what happened was react-view's error component (which is the popup you saw before the error overlay) outputted the error and then the error overlay was triggered. This is nothi

[2021-03-12 01:11] ahtrahdis7 commented on #37
I get it @mhmd21 , what you are trying to say. The production build works fine. I issued this ticket with a view that there might be a way around in which the error screen doesn't appear and only the pop-up does.
Although, if `react-view` is made to function that way, there is nothing one can do about it in here.

Regards
Sidhartha

[2021-03-12 03:34] nlok5923 opened #39 "chore: create pull request template"
it would be good to have a pull request template setup which will help maintainer to extract some core/useful information from contributor about raised pull request.

[2021-03-12 03:35] nlok5923 commented on #39
@pranshuchittora sir if this issue is approved can you please assign this to me.

[2021-03-12 03:37] jalajcodes commented on #39
There's already a PR for this
https://github.com/react-native-elements/playground/pull/36

[2021-03-12 03:37] #39 closed

[2021-03-12 05:24] sachdeva-shrey opened #41 "Feat: Update Component Props"
**Is your feature request related to a problem? Please Describe.**
There are some components whose props have been deprecated/not updated with the latest version `3.3.1`.
For example, `fractions` prop is missing in the `Rating` component.

**Describe the solution you'd like**
These props would need to be updated in the playground.

**Additional context**
I would like to work on this issue.

[2021-03-12 06:48] abhishekkumar08 commented on #3
Hey @pranshuchittora @saideepesh000 I'm facing the exact issue, did you found the solution? I search the slack chats but couldn't find it. If any solution please tell me.

[2021-03-12 06:52] Devesh21700Kumar commented on #3
import {importMDX} from "mdx.macro";
use it to work locally

while pushing convert it back to import importMDX from "mdx.macro"; to avoid build errors
@pranshuchittora  this is what i did.. and i think its the best solution right now unless tsc migration is made

[2021-03-12 07:10] Uyadav207 opened #43 "Feat: Adding prop explorer for AirBnB rating and all other props"
**Is your feature request related to a problem? Please Describe.**

- The props explorer for (AirBnB) is missing.

**Describe the solution you'd like**

- Introducing `AirbnbRating.mdx`.

**Additional context**

- Please see the bottom right corner.(no options for viewing props.)

![Screenshot from 2021-03-12 12-32-30](https://user-images.githubusercontent.com/50916299/110904943-bc40d880-832f-11eb

[2021-03-12 07:23] abhishekkumar08 commented on #3
@Devesh21700Kumar yeah it did worked 🚀 , but had to change three instances of it to run.
[code]

[2021-03-12 07:26] Devesh21700Kumar commented on #3
Great.. yes i know. and before pushing revetr it back to import {importMDX} or it will give build error

@pranshuchittora the build error in my PR yesterday was due to this only.. so tweaked a bit to find a solution 🚀

[2021-03-12 07:29] Uyadav207 commented on #43
I would also like to add another props explorers, is it fine?

**Attaching below the list, I will be working on: **

- `buttongroup.mdx`
- `checbox.mdx`
- `Header.mdx`
- `icon.mdx`
- `image.mdx`

For now, I think this would be enough. Maybe, later I'll be adding more contributions.

[2021-03-12 14:37] pranshuchittora commented on #26
Checking the `isVisible` prop in the playground shows the overlay. Hence that's the intended behaviour

[2021-03-12 14:37] #26 closed

[2021-03-12 14:41] pranshuchittora commented on #37
In dev, it will crash but in prod build, it won't.  Adding an error boundary might fix the issue in dev are well.
Feel free to raise a PR with the fix.

[2021-03-12 14:50] pranshuchittora commented on #43
This seems to be similar to https://github.com/react-native-elements/playground/issues/41

[2021-03-12 15:25] Uyadav207 commented on #43
@pranshuchittora, I think the #41 is trying to add additional props and update the older ones, while I am trying to **Document**  in an markdown it.

[2021-03-12 15:28] Uyadav207 commented on #43
The explorer is no available for many components.

@pranshuchittora,

[2021-03-12 15:35] Uyadav207 commented on #24
I am closing this issue as the PR is merged.

[2021-03-12 15:35] #24 closed

[2021-03-12 16:19] pranshuchittora commented on #43
Yeah, go ahead. Make sure there's no open PR

[2021-03-12 16:36] nlok5923 commented on #43
@Uyadav207 it's quite a big issue so please can u let me work on `header.mdx`

[2021-03-12 16:55] Uyadav207 commented on #43
@nlok5923, Actually I have started working. but don't worry, please Go for.... `pricing.mdx`.
👍🏿

[2021-03-12 16:56] Uyadav207 commented on #43
@pranshuchittora, can you assign me?
This will help to reduce the repetitive issues.

[2021-03-12 17:02] nlok5923 commented on #43
Thanks working on `pricing.mdx`

[2021-03-12 18:03] Uyadav207 commented on #43
Sure, working on it.

[2021-03-13 01:22] ankushdutt commented on #34
There was a typo error in the popover props (popOver was incorrect), and hence the popover text wasn't visible. It seems to be fixed in PR #44. Furthermore, the tooltip's wrong positioning appears to be caused by react-native-elements itself (there is already an [issue](https://github.com/react-native-elements/react-native-elements/issues/2462) based on this).

[2021-03-13 03:26] ankushdutt opened #48 "PWA (manifest) logo icons are not being loaded"
**Describe the bug**

* PWA logo icons are not present

**Expected behavior**

* Logo images should be present and hosted

**To Reproduce**

* Go to https://react-native-elements.js.org/#/
* See console
![image](https://user-images.githubusercontent.com/51174480/111017383-34170d80-83d9-11eb-9218-e2b184f2fcfd.png)
* The required app logo images are not present

[2021-03-13 04:02] ankushdutt opened #50 "Input: renderErrorMessage is not working"
![image](https://user-images.githubusercontent.com/51174480/111018418-b35b1000-83de-11eb-9324-4536cc12f821.png)

**To Reproduce (Required)**
* Go to https://react-native-elements.js.org/#/input
* Click on renderErrorMessage checkbox
* Error message is always visible

**Current behavior (Required)**
* Error message is always visible

**Expected behavior (Required)**
* Error message should not be vi

[2021-03-13 04:02] ankushdutt commented on #50
I'm working on it

[2021-03-13 04:06] ankushdutt commented on #50
Fixed in react-native-elements repository:
https://github.com/react-native-elements/react-native-elements/pull/2844

[2021-03-13 04:40] #50 closed

[2021-03-13 05:03] ankushdutt opened #51 "SocialIcon: original icon is visible when loading"
![image](https://user-images.githubusercontent.com/51174480/111019810-83643a80-83e7-11eb-9b94-1d2e4cdf106c.png)

To reproduce:
* Visit https://react-native-elements.js.org/#/social-icon
* Check the loading checkbox

Expected Behavior:
* Only the loading icon should be visible

[2021-03-13 05:08] ankushdutt commented on #34
This issue should be fixed after the tooltip2 PR is merged: https://github.com/react-native-elements/react-native-elements/pull/2842

[2021-03-13 11:22] Uyadav207 commented on #43
![Screenshot from 2021-03-13 16-47-54](https://user-images.githubusercontent.com/50916299/111028383-5716e100-841c-11eb-8881-cacaf19438ea.png)

## **Expected**

Total number of ratings to display

|  Type  | Default |
| :----: | :-----: |
| number |   5     |

---

-  `defaultRating`

Initial value for the rating defaultRating

|      Type      | Default |
| :------------: | :-----: |
|     number

[2021-03-13 11:23] Uyadav207 commented on #43
@pranshuchittora, How can I resolve this?
please help me out.

[2021-03-13 11:23] jugshaurya commented on #37
@pranshuchittora working on it

[2021-03-13 13:16] ankushdutt commented on #51
Fixed this in react-native-elements repo: https://github.com/react-native-elements/react-native-elements/pull/2846

[2021-03-13 14:00] jugshaurya commented on #37
@pranshuchittora , while working on it, I found out that the react-view library has an ErrorBoundary implemented itself, which in turn catching the error seen above, now even if we put an Error Boundary above Compiler Component, an error will not come through to our ErrorBoundary because it is caught by lower implemented Errorboundary of react-view. If you got what I am saying, I think we can not

[2021-03-13 14:50] jugshaurya opened #54 "Maintaining a11y"
**Issue main aim:**
- Accessibility plays a vital role in today's modern web world. Some a11y rules were broken
- hence require fixing.

**Problems in the webapp **
- a11y/alt-txt
- a11y/accessible-emoji
-
**one security concern**
- react/jsx-no-target-blank

![Screenshot from 2021-03-13 19-49-24](https://user-images.githubusercontent.com/39825643/111033554-d36aed80-8437-11eb-9d62-5f24e3eb724c.png

[2021-03-13 15:04] jugshaurya opened #56 "Adding a .prettierrc file"
**Why?**
- since many developers around the world are going to collaborate on this wonderful organisation/repo. Everyone should follow some convention.
- on the plus side, it avoids unnecessary spaces, lines, indentations,  No need to discuss style in code review, which Saves you time and energy.

**Why I am opening this issue:-**
- Because I faced problems when I added this repo to my vscode edit

[2021-03-13 15:23] abhishekkumar08 opened #58 "Adding prettier as a dev dependency"
**Is your feature request related to a problem? Please Describe.**
We can better add prettier to the repo: https://www.npmjs.com/package/prettier
So whenever we will run ```npm run format```, It will automatically format the whole code.

**Describe the solution you'd like**
Adding prettier as a dev dependency as it will format all the code.

**Describe alternatives you've considered**

**Additiona

[2021-03-13 17:09] #58 closed

[2021-03-13 17:23] Uyadav207 commented on #54
@jugshaurya already made a PR buddy. #47

[2021-03-13 17:48] ankushdutt opened #61 "Overlay: isVisible remains checked even after the overlay is closed"
Screen Recording of the issue: https://www.loom.com/share/cdc63f729fa440a9850cf5adaffecd11

**Expected behavior**
* The isVisible checkbox should uncheck after the overlay is not visible

**To Reproduce**
* Go to https://react-native-elements.js.org/#/overlay
* Check the isVisible checkbox
* Close the overlay
* The `isVisible` checkbox remains open

[2021-03-13 19:39] ankushdutt opened #64 "CheckBox: clicking on checkbox does nothing, `right` prop does nothing, leftIcon is not a valid prop for the component"
Screen recording of the issue: https://www.loom.com/share/a51de785966c415fa91d2dfb410ba687

**Expected behavior**
* Clicking on checkbox should change it's state to checked (preferably have it stateful)
* right prop should move the checkbox to the right (as mentioned in the docs)
* leftIcon should be removed

**Describe the bug**
* right prop does nothing
* leftIcon prop is not supported by CheckB

[2021-03-14 06:58] tewarig opened #66 "Add Prop Explorer to all the components"
**Is your feature request related to a problem? Please Describe.**

Currently, Prop Explorer is not available for most of the components in React Native elements.
only Avatar, Badge, Button have a prop explorer for not.
Airbnb Rating comp does have a PR #53  adding prop component to it.

**Describe the solution you'd like**

We should add Prop Explorer to all of the components. This would enhance

[2021-03-14 07:09] Uyadav207 commented on #66
@tewarig, buddy did with this issue day before yesterday. and made all the required changes. and you reviewed also right ?
please take some other issue

The issue was #43

[2021-03-14 07:24] #66 closed

[2021-03-14 07:24] tewarig commented on #66
sorry i didn't this issue.

[2021-03-15 05:58] khushal87 opened #69 "Lack of proper alignment between the Type and Default in the Props explorer"
**Explain what you did (Required)**
When I open the **Props Explorer** I found that the alignment between the Types and Default is not well oriented and varies for every props. Therefore I feel it should be improved for better user experience while reading

**Expected behavior (Required)**
A better alignment between Types and Default values

**Describe the bug (Required)**
No proper alignment betw

[2021-03-15 05:58] khushal87 commented on #69
@pranshuchittora Can I work on it if you find this as an relevant issue?

[2021-03-15 06:41] Uyadav207 commented on #43
@pranshuchittora, sir ... How to style MDX........ DO I need to make `style modules` for MDX styling..... as MDX follows JSX. ??

[2021-03-15 06:51] Uyadav207 commented on #69
👋 hey @khushal87, Please try to skim every other issue before making a new one.  This will help the maintainer as well.
This issue is similar to #43. I am working on this issue...😀 I was told by the maintainer to `make sure no new issue or PR should be similar to this (opens)`...

Can you find some other issue? There are many 😀...

[2021-03-15 06:57] khushal87 commented on #69
Okay sure. Thanks for the information

[2021-03-15 08:16] ARJUN-SABU opened #70 "Cross button (top rightIcon) in the input component not working."
Clicking on the cross button (rightIcon) in the input section must delete the contents of the input section, but it does nothing.
I tried to fix it, but I am not able to do so. Any help?
<img width="1440" alt="Input Field cross button issue" src="https://user-images.githubusercontent.com/63174870/111122940-c1529180-8594-11eb-93b6-be9e831e26d7.png">

[2021-03-15 11:54] nirnayjain opened #72 "Input : Placeholder text always displaying"
![Screenshot (2)](https://user-images.githubusercontent.com/67785138/111148992-51530400-85b2-11eb-9cdd-d0ad02d4ca8b.png)
Here is the link of video pointing out the issue :- https://www.loom.com/share/1617cf3700884c14a235a6a4ef999b17

Visit https://react-native-elements.js.org/#/input
Go to placeholder input box
we can see there that evenafter clicking on input box under placeholder box ,the placeh

[2021-03-15 12:04] nirnayjain commented on #72
I m working on these issue

[2021-03-15 12:18] Uyadav207 commented on #72
Hey! @nirnayjain, Just to ensure that are you talking about..... `THE INPUT FIELD YOU ARE WRITING` ??

[2021-03-15 12:23] nirnayjain commented on #72
@Uyadav207 yes

[2021-03-15 12:24] Uyadav207 commented on #72
![captured (5)](https://user-images.githubusercontent.com/50916299/111152889-451d7580-85b7-11eb-901f-a1a520318da9.gif)

@nirnayjain, but as per the functionality.... The placeholder is working very fine.

[2021-03-15 12:25] nirnayjain commented on #72
just refer to the video i have shared above @Uyadav207

[2021-03-15 12:25] Uyadav207 commented on #72
The `placeholder input field` does not require any placeholder effect..... This was for the above component...

[2021-03-15 12:26] nirnayjain commented on #72
ok got it @Uyadav207

[2021-03-15 12:26] #72 closed

[2021-03-15 14:50] dikshantsharma12 commented on #70
could I get a chance to work on it? I think I can fix it

[2021-03-15 15:50] ARJUN-SABU commented on #70
Yeah sure! Go for it.

[2021-03-16 03:34] shivambalwani opened #74 "To Enable Deselection of item from side bar"
Issue:
when we click on any component on sidebar ,we get directed to header page and header gets selected with grey coloured selection .Now, if we click on the playground title , we get redirected to home page , but header was still selected
![image](https://user-images.githubusercontent.com/71224988/111251874-11356500-8636-11eb-999b-0b26bed65b0f.png)
![image](https://user-images.githubusercontent

[2021-03-16 04:59] dikshantsharma12 commented on #70
thanks for giving me chance.

[2021-03-16 07:15] Uyadav207 opened #75 "🐛 Bug: Error log is unaligned and breaking the UI of playground. (Need to make a hot-fix) for all components."
**Explain what you did (Required)**

- I intentionally tried to create a compilation error on the playground.
- The error popup was found breaking UI for the playground application.

**Expected behavior (Required)**

- The error component should not break the UI.
- This will cause the user un-comfortable while using the playground web app.

**Describe the bug (Required)**

- The bug is breaking th

[2021-03-16 17:09] sandyabhi commented on #74
Hi @shivambalwani , I would like to work on this task

[2021-03-16 21:43] ankushdutt opened #77 "ButtonGroup: onPress does not select button and updates selectedIndex"
Screen Recording of the issue:
https://www.loom.com/share/2f1d77cf8d8a469faba06b5c242071f4

**Expected behavior (Required)**
After pressing the button it should be selected (if not disabled)

[2021-03-16 23:11] mhmd21 commented on #74
@sandyabhi, @ARJUN-SABU has already done a PR for this issue.

[2021-03-17 04:02] adarsh-technocrat opened #80 "Need to make BottomSheet Component interactive"
Hello @pranshuchittora, @flyingcircle 👋 as currently there is no interactive `BottomSheet` in the Playground just we are passing default `true`   to `visible` prop instead of doing this we can handle the state using the `Button`  and make `bottom sheet`  scope to the site instead of `Compiler` this way the BottomSheet component can be made more interactive to the user.

Would love to hear your tho

[2021-03-17 08:07] shivambalwani opened #81 "Error in ToolTip Component in SideBar"
Issue:
when clicking on hello there
<img width="1433" alt="Screenshot 2021-03-17 at 1 19 58 PM" src="https://user-images.githubusercontent.com/71224988/111434068-1f15e380-8725-11eb-86b7-f377f1d57a36.png">
<img width="1268" alt="Screenshot 2021-03-17 at 1 20 03 PM" src="https://user-images.githubusercontent.com/71224988/111434109-2806b500-8725-11eb-95af-7ff654f5128b.png">
The pop up shown needs pro

[2021-03-17 08:43] abhishekkumar08 commented on #81
This looks like a duplicate of #34

[2021-03-17 12:39] #80 closed

[2021-03-17 13:11] #81 closed

[2021-03-17 18:18] #69 closed

[2021-03-18 05:16] dikshantsharma12 commented on #70
![Error](https://user-images.githubusercontent.com/63445571/111576692-f9e1ad80-87d6-11eb-97c1-e028c3e52264.jpg)
I am getting this error and I am unable to resolve it. Please help me resolve this error

[2021-03-18 06:32] Uyadav207 commented on #70
Well, The module you are tryna import is missing....

[2021-03-18 06:41] abhishekkumar08 commented on #70
hey @dikshantsharma12 you will find your ans here https://github.com/react-native-elements/playground/issues/3#issuecomment-797278137

[2021-03-18 07:23] dikshantsharma12 commented on #70
thanks, I got the solution

[2021-03-19 03:48] tstariqul opened #82 "Make footer components more interactive"
### Design make more interactive

In the footer sector text line is broken Cross-Platform React Native UI Toolkit and also this text Playground is using react-native-elements v3.0.0
The main goal is to make this line absolute in CSS property and make sure RNE_Logo has no change.
![footer](https://user-images.githubusercontent.com/72482679/111728961-2f9a9b00-8898-11eb-836d-ffcef59083fd.png)

[2021-03-19 05:05] tstariqul opened #84 "Make home Playground and icon 🚀 inline"
Only CSS property change for it.
![h](https://user-images.githubusercontent.com/72482679/111733808-ebf95e80-88a2-11eb-9400-c908584bc0c4.png)

[2021-03-19 07:15] AkshadK7 commented on #84
Is this issue still open ? @tstariqul

[2021-03-19 07:31] tstariqul commented on #84
@AkshadK7 yes, you can do that.

[2021-03-19 07:32] #82 closed

[2021-03-19 07:42] AkshadK7 commented on #84
Sure, can you Assign it to me? @tstariqul

[2021-03-19 13:13] tstariqul commented on #84
@AkshadK7 you can give a PR in here.

[2021-03-19 13:31] tstariqul commented on #48
@ankushdutt can you assign in here

[2021-03-19 14:58] ramim12 opened #86 "Fix some UI design and text for look more professional"
Change some margin and text change

![ui](https://user-images.githubusercontent.com/72482679/111790181-23402d80-88ec-11eb-9f1c-64e1257eee89.png)

[2021-03-19 15:03] tstariqul commented on #86
Can I work on it?

[2021-03-19 15:34] ankushdutt commented on #48
@tstariqul This issue is already resolved in PR #49

[2021-03-19 21:43] #41 closed

[2021-03-19 21:50] #48 closed

[2021-03-20 05:34] abhishekkumar08 opened #88 "bug:app not working"
## Description
After the recent #15 PR merge, the app isn't starting.

## To Reproduce:
1. run ```npm start```

## Screenshots
![image](https://user-images.githubusercontent.com/59651136/111860027-d8192f80-896a-11eb-9f71-5dda1c5d41c0.png)

### I found two ways to solve this error:
- by removing the ```props``` folder from ```gitignore``` and adding them again
- by removing the local ```RNE``` repo

[2021-03-20 06:20] Uyadav207 commented on #88
@pranshuchittora, the same issue in #87 but I have made changes accordingly to resolve this issue at #87. Please review #87

[2021-03-20 12:03] AkshadK7 commented on #84
@tstariqul How do I Reproduce the Issue?  I Tried changing the Viewport but still never found it abnormal as shown above!

[2021-03-20 12:54] #54 closed

[2021-03-21 13:23] #84 closed

[2021-03-22 14:19] piyushdevOP commented on #86
@ramim12  I am working on it.

[2021-03-22 18:33] piyushdevOP commented on #86
[Modified] UI Text Style Changed for Professional Look #93
@ramim12  Please look into it .
Should I add effects to the blocks to make it more interactive ?

[2021-03-22 18:43] piyushdevOP commented on #86
[#93](https://github.com/react-native-elements/playground/pull/93)

[2021-03-23 03:11] tstariqul commented on #86
@piyushdevOP do it

[2021-03-23 07:29] piyushdevOP commented on #86
On it.

[2021-03-23 18:51] Uyadav207 commented on #88
#87 Made for resolving the issue please close this.

[2021-03-23 18:53] Uyadav207 commented on #86
@piyushdevOP, please mention the issue no in every PR... to avoid confusion for maintainer and also redundancy of PR's

[2021-03-23 18:54] Uyadav207 commented on #19
@sachdeva-shrey please Close the Issue ... PR is merged

[2021-03-24 14:58] jugshaurya opened #94 "Remove package-lock.js from node_modules"
The package-lock.json file needs to be committed to your Git repository, so it can be fetched by other people, if the project is public or you have collaborators, or if you use Git as a source for deployments.

please see/read https://nodejs.dev/learn/the-package-lock-json-file

[2021-03-24 14:59] jugshaurya commented on #94
@pranshuchittora please resolve this. New collaborators require the `package-lock.json` file to run the project.

[2021-03-24 18:33] piyushdevOP commented on #86
Yes i will from now on. Thank you for the heads up.

[2021-03-25 06:59] jugshaurya opened #96 "bug: injectProps.js not adding Props folder in content folder"
**Bug:**
when new collaborator does `npm i`, they are not getting `src/content/Props` folder.

**Problem Details and possible solutions. **
1. combine two exec functions into one
2. Instead of exec use `execSync`

**Tested? **
- Yes, It is working fine after the above-shown changes.
- Adding both react-native-elements folder and Props Folder at appropriate positions.

Also solve Netlify build prob

[2021-03-25 07:00] jugshaurya commented on #96
@pranshuchittora , review it and fix it by merging PR.

[2021-03-25 09:46] piyushdevOP commented on #70
Hey @dikshantsharma12  did you fix the problem?

[2021-03-25 12:42] ankushdutt opened #98 "Tooltip: toggling toggleOnPress, withOverlay, withPointer props does nothing"
Video Recording of the bug:
https://www.loom.com/share/b3565ac9a0ad43b49c2bf384ca0ec4bd

[2021-03-26 04:35] dikshantsharma12 commented on #70
I had some dependencies issue so, my project was not starting so I had updated some dev dependencies but after that, now all the icons are not loading and I tried so much to fix them but still, they are not loading.

[2021-03-26 10:14] piyushdevOP commented on #70
Hey buddy, do you want me to work on this issue and help you out?

On Fri, Mar 26, 2021 at 10:05 AM Dikshant sharma ***@***.***>
wrote:

[2021-03-26 17:59] #56 closed

[2021-03-26 18:07] #61 closed

[2021-03-26 18:13] #64 closed

[2021-03-26 18:18] #77 closed

[2021-03-26 18:32] #98 closed

[2021-03-26 20:09] #43 closed

[2021-03-28 16:10] piyushdevOP commented on #70
@Uyadav207 @ARJUN-SABU @ankushdutt @pranshuchittora please look into PR #104
Fix
https://user-images.githubusercontent.com/68142366/112758858-07d0d300-900e-11eb-8e21-84c62887bb0f.mov

[2021-04-05 11:41] ankushdutt opened #105 "SocialIcon: toggling of raised prop does nothing in playground"
**Expected behavior (Required)**
It should add/remove drop shadow on toggling.

[2021-04-14 13:36] jugshaurya opened #107 "Adding upcoming RNE-component Playground : Tab"
## Adding new Playgrounds
Some new components are added into RNE this month, hence their playgrounds are missing, so I decided to add one of them called Tabs.

Since these components are going to be released in the next version, I was thinking of creating the **next branch** itself and adding the latest playgrounds there. What do you think? @pranshuchittora.

something like you did @https://github

[2021-04-15 10:33] jugshaurya opened #109 "bug: Incorrect MDX files for some of the playground."
**Issue:**
- Some of the playgrounds index.js files is importing incorrect MDX files, ex:- listItem Playground, Input Playground, Rating Playground and more.
- Also ListItem is missing its PropDrawer completely.

[2021-04-15 17:15] khushal87 opened #111 "Add Switch Component Support to the playground"
**Is your feature request related to a problem? Please Describe.**
The Switch component is recently been introduced in the package. https://reactnativeelements.com/docs/next/switch. Therefore we would need a page here for the same to play with the component in the playground.

**Describe the solution you'd like**
Add a new Page for the Switch component.

**Describe alternatives you've considered**

[2021-04-15 17:16] khushal87 commented on #111
@pranshuchittora Can I work on this issue?

[2021-04-16 04:42] khushal87 commented on #3
@Devesh21700Kumar I did the same, is there some issue with the rating component? Like it was working for all others but it is not able to fetch the cached rating.md.

[2021-04-16 13:16] jugshaurya commented on #111
@khushal87, already working on this kind of issue(here https://github.com/react-native-elements/playground/issues/107), waiting for @pranshuchittora to discuss some of the things.

We can work together on it, once he suggests somethings.

[2021-04-16 13:19] khushal87 commented on #111
Hey, @jugshaurya Sure will be happy to collab. I have seen this issue before that's why I picked up **Switch**. Would take up more if you want and admins give permission.

[2021-04-16 13:28] jugshaurya commented on #111
Sure thing, will work together.

[2021-04-16 16:55] jugshaurya commented on #3
you should
- delete node_modules and package.lock.json file
- then run npm i twice(yes twice)
- then delete node_modules once
- then npm i
- then npm start
It should fix this error!!.

or
wait for it https://github.com/react-native-elements/playground/pull/97 to be merged.
Yes, I know it is weird,

[2021-04-16 17:42] jugshaurya opened #113 "Query: Does anyone have any solution for this?"
I tried various things on the internet, nothing seems to work!
![Screenshot from 2021-04-16 23-07-57](https://user-images.githubusercontent.com/39825643/115063280-fbeb7900-9f08-11eb-9040-d5168433166b.png)

Also some loader missing problem.
![Screenshot from 2021-04-16 23-10-40](https://user-images.githubusercontent.com/39825643/115063303-03ab1d80-9f09-11eb-9c56-833dae8210cb.png)

I was trying to b

[2021-04-16 18:09] khushal87 commented on #113
@jugshaurya When is it coming up?

[2021-04-16 18:49] #109 closed

[2021-04-21 09:00] jugshaurya commented on #107
- [x] #115 Speeddial Playground
- [x] #114 Linear Progress Playground.
@pranshuchittora

[2021-06-11 13:17] ShivamTyagi12345 commented on #18
hi @pranshuchittora
I am quite a beginner to this project .Can i still go ahead and make a further additions in this ?
Otherwise. u may please direct me to any other beginner issues .

[2021-07-16 07:48] saymedgm commented on #34
please assign me this issue

[2021-12-06 07:33] vikasazad commented on #3
Hi @pranshuchittora  I also wanted to be help in this can i?

[2021-12-23 05:09] #51 closed

[2021-12-23 05:12] #94 closed

[2021-12-23 07:51] jugshaurya commented on #107
@flyingcircle please review

[2021-12-23 07:52] jugshaurya commented on #96
@flyingcircle please review #97

[2021-12-23 14:52] #107 closed

[2021-12-23 14:57] flyingcircle opened #121 "Build is currently failing"
https://github.com/react-native-elements/playground/actions/runs/1616009494

I think this is likely due to some of the props changes that we've made in RNE.

@jugshaurya  perhaps you have some insight to this?

[2021-12-23 15:02] jugshaurya commented on #121
I will look into it soon

[2021-12-23 15:40] #96 closed

[2021-12-23 15:43] jugshaurya commented on #121
@flyingcircle , I think the build is failing because file names are changed inside in website/docs/main folder of the react-native-elements repository, and react components of the playground are using the older filenames that were in the props/ folder.Will try to fix them all soon.

[2021-12-23 15:49] flyingcircle commented on #121
awesome thanks!

[2021-12-29 15:35] jugshaurya commented on #121
@flyingcircle, I figured out the problem. Actually, the playground needed Props of every component only, and the folder `./react-native-elements/website/docs/main` contains them, but the MDX files contain the <Usage/> component which uses @theme/* components from react-native-elements, and since we don't have access to them in the playground we are getting the error.

## Solution
 - To move all th

[2021-12-30 16:48] flyingcircle commented on #121
@arpitBhalla  Might be relevant with the moving the packages around.

[2021-12-30 17:01] arpitBhalla commented on #121
No, actually these are being imported from docusaurus.

I have implemented playground editor in docusaurus docs, do we need this playground website separately now?

[2021-12-30 17:03] arpitBhalla commented on #121
Yupp, we can do it. I will make changes in another PR.

[2021-12-30 19:20] arpitBhalla commented on #121
@flyingcircle build is working now
https://github.com/react-native-elements/playground/runs/4669222233?check_suite_focus=true

[2021-12-30 19:24] jugshaurya commented on #121
@flyingcircle , Ihave done this moving part. Will make a PR soon.

[2021-12-31 07:58] jugshaurya commented on #121
@flyingcircle @arpitBhalla,  I have moved content to the props folder and added the respective Props component to each file. please review.

[2022-01-05 07:40] sid-khuntwal commented on #18
Hey @pranshuchittora I would like to help with this repo, I am a beginner so can you please direct me.

[2022-05-05 08:12] #121 closed

[2022-07-06 09:45] #75 closed